<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <style>
        .container {
            margin-top: 70px;
            margin-bottom: 60px;
            width: 100vw !important;
        }

        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            z-index: 1;
        }

        .navbar-brand {
            cursor: default;
        }

        .spinner-border {
            top: 45%;
            position: absolute !important;
        }

        .search,
        .search:focus {
            border: 2px solid rgb(40, 167, 69);
            border-radius: 5px;
            outline: none;
        }

        .row {
            margin: 10px
        }

        .top {
            margin-top: 70px !important;
        }

        .hidden {
            display: none;
        }

        .dataTables_wrapper {
            overflow-x: scroll !important;
        }

        select::-ms-expand {
            display: none;
        }

        select,
        select:focus {
            display: inline-block;
            box-sizing: border-box;
            padding: 0.5em 2em 0.5em 0.5em;
            border: 2px solid rgb(40, 167, 69, 0.7);
            font: inherit;
            outline: none;
            background-color: white;
            line-height: inherit;
            border-radius: 5px;
        }

        .col-6,
        .col-lg-6,
        .col-lg-12 {
            padding: 5px !important;
        }

        .border {
            border: 2px solid rgb(40, 167, 69) !important;
        }

        .linechart,
        .doughnutchart {
            margin: 5px;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
            border-radius: 5px;
        }

        canvas {
            background-color: white !important;
            max-height: 300px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-success">
        <div class="navbar-brand" href="#">Dashboard</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/district">District Info</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Push Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">User Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items">Market Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tools">Rent a Tool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lands">Lend a Land</a>
                </li>
            </ul>
            <button class="my-2 my-sm-0 btn bg-light text-primary" data-toggle="modal" data-target="#pushModal">Push
                Notification</button>
        </div>
    </nav>


    <div class="row top charts hidden">
        <div class="col-lg-6">
            <div class="doughnutchart border">
                <h4 class="chartTitle">Push Notification</h4>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="linechart border">
                <h4 class="chartTitle">Push Statistics</h4>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success" style="width: 2.5rem; height: 2.5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="container" id="table">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/notify" id="form">
                        <div class="form-group">
                            <label for="title">Notifcation Label</label>
                            <input type="text" name="label" id="label" class="form-control" placeholder="Enter Label">
                        </div>
                        <div class="form-group">
                            <label for="title">Notifcation Title</label>
                            <input type="text" name="title" id="title" class="form-control" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label for="content">Notifcation Content</label>
                            <input type="text" name="content" id="content" class="form-control"
                                placeholder="Enter Content">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Send" type="button" form="form" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>

    var doughnutData, tableData, lineData;

    $(window).on('load', function () {

        $.ajax({
            type: "GET",
            url: "/notificationsInfo",
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                tableData = data[1];
                doughnutData = data[0][0];
                lineData = data[2];
                console.log(doughnutData, lineData);
                showChart();
                showTable(tableData);
            },
            error: function (data) {
                console.log(data);
            }
        });

    });

    function showChart() {

        var dates = [], notificationCount = [], temp;

        for (var i = 0; i < lineData.length; i++) {
            temp = new Date(lineData[i]["date"])
            dates[i] = temp.getDate() + "/" + String(parseInt(temp.getMonth()) + 1) + "/" + temp.getFullYear();
            notificationCount[i] = lineData[i]["notifications"];
        }

        $(".row").toggleClass("hidden");
        $(".spinner-border").hide();

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: dates,
                datasets: [{
                    label: 'Push Notifications',
                    backgroundColor: 'rgb(40, 167, 69)',
                    borderColor: 'rgb(40, 167, 69)',
                    data: notificationCount
                }]
            },

            // Configuration options go here
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "Chat statistics",
                        maintainAspectRatio: true
                    },
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    // callbacks: {
                    //     label: function (t, d) {
                    //         if (t.yield=='0') {
                    //             return '0';
                    //         }
                    //         else{
                    //             return t.yLabel;
                    //         }

                    //     }
                    // }
                }
            }
        });



        var ctx = document.getElementById('myChart2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ["Success", "Failure"],
                datasets: [{
                    backgroundColor: ['rgb(69,188,69,0.4)', 'rgb(226,20,20,0.4)'],
                    borderColor: ['rgb(69,188,69)', 'rgb(226,20,20)'],
                    data: [doughnutData["success"] * 100 / doughnutData["success"] + doughnutData["failure"], doughnutData["failure"] * 100 / doughnutData["success"] + doughnutData["failure"]]
                }]
            },

            // Configuration options go here
            options: {

                plugins: {
                    legend: {
                        display: true
                    },
                    title: {
                        display: false,
                        text: "Today's statistics",
                        maintainAspectRatio: true
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItems) {
                                // console.log(tooltipItems)
                                return `${tooltipItems.label}: ${tooltipItems.formattedValue}%`;
                            }
                        }
                    }
                },
                maintainAspectRatio: true,
                responsive: true,
            }
        });

    }


    $("#form").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                if (data == "done") {
                    $('#pushModal').modal('hide');
                    Swal.fire(
                        'Success!',
                        'You have successfully logged in',
                        'success'
                    ).then((result) => {
                        $("input").val("");
                    });
                }
                else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Wrong username or password'
                    });
                }
            },
            error: function (data) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!'
                });
            }
        });


    });



    function showTable(data) {
        console.log(data);

        var temp;
        var table = `<table id="notifications" class="display"><thead><tr><th>#</th><th>Title</th><th>Content</th><th>Label</th><th>Date</th><th>Time</th></tr></thead><tbody>`;

        for (var i = 0; i < data.length; i++) {
            temp = new Date(data[i]["dateTime"]);
            table += `<tr id=" ${i}"><td>${i + 1}</td><td>${data[i]["title"]}</td><td>${data[i]["content"]}</td><td>${data[i]["label"]}</td><td>${data[i]["date"]}</td><td>${data[i]["time"]}</td></tr>`;
        }

        table += "</tbody></table>";

        $("#table").html(table);
        $('#notifications').DataTable();
        $("input").toggleClass("search");
    }
</script>